{% extends "base.html.twig" %}
{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Modification du mot de passe</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                   {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                                        {# <form role="form"> #}
                                                            <div class="form-group">
                                                                {{ form_row(form.oldPassword) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_row(form.newPassword) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_row(form.confirmPassword) }}
                                                            </div>
                                                            <div class="form-group">
                                                                {{ form_rest(form) }}
                                                            </div>
                                                            <button type="submit" class="btn btn-success mr-2">Modifier</button>
                                                            <button class="btn btn-danger" type="reset">Annuler</button>
                                                        {# </form> #}
                                                    {{ form_end(form) }}    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}