<div class="col-md-6 col-xl-4">
    <div class="card daily-sales">
        <div class="card-block">
            <div class="row d-flex align-items-center">
                <div class="col-auto">
                    <i class="feather icon-users f-30 text-c-blue"></i>
                </div>
                <div class="col">
                    <h3 class="f-w-300">{{ stats.advertisers }}</h3>
                    <span class="d-block text-uppercase">Annonceurs</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-xl-4">
    <div class="card daily-sales">
        <div class="card-block">
            <div class="row d-flex align-items-center">
                <div class="col-auto">
                    <i class="feather icon-image f-30 text-c-blue"></i>
                </div>
                <div class="col">
                    <h3 class="f-w-300">{{ stats.advertisements }}</h3>
                    <span class="d-block text-uppercase">Annonces</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 col-xl-4">
    <div class="card daily-sales">
        <div class="card-block">
            <div class="row d-flex align-items-center">
                <div class="col-auto">
                    <i class="feather icon-command f-30 text-c-blue"></i>
                </div>
                <div class="col">
                    <h3 class="f-w-300">{{ stats.categories }}</h3>
                    <span class="d-block text-uppercase">Catégories</span>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-check-square f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ AllValidAds }}</h3>
                        <span class="d-block text-uppercase">Validées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-fast-forward f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ AllWattingForValidationAds }}</h3>
                        <span class="d-block text-uppercase">En attente de validation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-pocket f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ AllValidatedAndPublishedAds }}</h3>
                        <span class="d-block text-uppercase">Validées et publiées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-rewind f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ AllUnpublishedAds }}</h3>
                        <span class="d-block text-uppercase">Dépubliées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-alert-octagon f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ AllRefuseAds }}</h3>
                        <span class="d-block text-uppercase">Refusées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>