<div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-image f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ advertisementsByAppUser }}</h3>
                        <span class="d-block text-uppercase">Toutes mes annonces</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-check-square f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ validAds }}</h3>
                        <span class="d-block text-uppercase">Validées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-fast-forward f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ wattingForValidationAds }}</h3>
                        <span class="d-block text-uppercase">En attente de validation</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-pocket f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ validatedAndPublishedAds }}</h3>
                        <span class="d-block text-uppercase">Validées et publiées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-rewind f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ unpublishedAds }}</h3>
                        <span class="d-block text-uppercase">Dépubliées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <i class="feather icon-alert-octagon f-30 text-c-blue"></i>
                    </div>
                    <div class="col">
                        <h3 class="f-w-300">{{ refuseAds }}</h3>
                        <span class="d-block text-uppercase">Refusées</span>
                    </div>
                </div>
            </div>
        </div>
    </div>