{% extends "base.html.twig" %}
{% block title %}
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADVERTISER')%}
        {% if appWebMobile.id is not null %}
            Modification de l'application {{ appWebMobile.id }}
            {% else %}
                ajout d'une application
        {% endif %}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADVERTISER')%}
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>
                                                    {% if appWebMobile.id is not null %}
                                                        Modification de l'application {{ appWebMobile.id }}
                                                        {% else %}
                                                            Création d'une nouvelle application
                                                    {% endif %}
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                                                            {# <form role="form"> #}
                                                                <div class="form-group">
                                                                    {{ form_row(form.webPageUrlTitle) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_row(form.webPageUrl) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_row(form.mobileScreenTitle) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_row(form.mobile_screen) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_row(form.description) }}
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_rest(form) }}
                                                                </div>
                                                                {# <button type="submit" class="btn btn-primary">Submit</button> #}

                                                                <button type="submit" class="btn btn-success mr-2">
                                                                    {% if appWebMobile.id is not null %}
                                                                        Enregistrer les modifications
                                                                    {% else %}
                                                                        Enregistrer
                                                                    {% endif %}
                                                                </button>
                                                                <button class="btn btn-danger" type="reset">Annuler</button>
                                                                {# <a href="{{ path('app_web_mobile_index') }}" class="btn btn-dark">Applications</a> #}
                                                            {# </form> #}
                                                        {{ form_end(form) }}    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}