<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Association Manager - Advertisement Manager | {% block title %}A personnaliser...{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Favicon icon -->
        <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="{{ asset('assets/fonts/fontawesome/css/fontawesome-all.min.css') }}">
        <!-- animation css -->
        <link rel="stylesheet" href="{{ asset('assets/plugins/animation/css/animate.min.css') }}">
        <!-- vendor css -->
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <!--All custom css can be add in this block-->
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <!-- [ Pre-loader ] start -->
        <div class="loader-bg">
            <div class="loader-track">
                <div class="loader-fill"></div>
            </div>
        </div>
        <!-- [ Pre-loader ] End -->

        <!-- [ navigation menu ] start -->
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_ADVERTISER') %}
            {% include "/ad_admin/partials/_left_nav.html.twig" %}
            <!-- [ navigation menu ] end -->
        {% else %}
        {% endif %}

        <!-- [ Header ] start -->
        {% include "/ad_admin/partials/_header_nav.html.twig" %}
        <!-- [ Header ] end -->
       
        {% block body %}{% endblock %}


        <!--Default JavaScript-->
        <script src="{{ asset('build/app.js') }}"></script>
        <script src="{{ asset('assets/js/vendor-all.min.js') }}"></script>
        <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/pcoded.min.js') }}"></script>
        <script src="{{ asset('assets/js/_alert.js') }}"></script>

        <!--All custom JS can be add in this block-->
        {% block javascripts %}{% endblock %}
    </body>
</html>
